header{
   background: #000;
   color: #fff;
   padding: 1.5em;
   position : fixed;;
   text-align: center;
   width: 100%;
   top: 10;
   left: 0;
}
.container1{
    width: 70%;
    margin: 4% auto 2%auto;
    background: #f1fcde;
    padding: 2em;
    }

.container2{
    width: 70%;
    margin: 4% auto 2%auto;
    background: #DF995F;
    padding: 2em;
}
/*img{
style="height: 50%;
top: 100%;
width: 800px;
height: 100%;
}*/
